$main-purple: #f16d7f;
$text-color: #222222;
$product-col-width: 120px 200px 100px 100px 100px 100px 100px;

.container {
  height: 150px;
}

main {
  height: 1800px;
  //background-color: #4a4a4a;
  width: 1600px;
  margin: 0 auto;
}

main .new-arrivals {
  width: 1600px;
  height: 148px;
  background-color: #f8f3f4;
  display: flex;
  margin-bottom: 90px;
  /*align-items: baseline;*/

}

main .new-arrivals div {
  width: 1142px;
  height: 29px;
  /*height: 148px;*/
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: baseline;

}

main .new-arrivals p {
  width: 176px;
  /*height: 24px;*/
  color: #f16d7f;
  font-size: 24px;
  font-weight: 400;
  /*line-height: 40px;*/
  text-transform: uppercase;
  box-sizing: border-box;
}

main .new-arrivals ul {
  width: 196px;
  height: 11px;

}

main .new-arrivals ul li {
  display: inline;

}

main .new-arrivals a {
  color: #636363;
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  text-transform: uppercase;
}

main .new-arrivals ul li:nth-child(3) a {
  color: #f16d7f;
  font-weight: 700;
}

.top-text {
  text-align: center;
  color: #222222;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: -0.2px;
  padding-bottom: 20px;

}

.product-settings {
  margin: 0 auto;
  width: 1140px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #eaeaea;
  //margin-bottom: 22px;
  font-size: 13px;

}

@for $i from 1 through 7 {
  .product-col-width div:nth-child(#{$i}) {
    width: nth($product-col-width, $i)
  }
}

.product-settings img {
  height: 115px;
  margin-top: 22px;
}

.product-text div:nth-child(1) {
  height: 165px;
}

.product-text div:nth-child(5) {
  text-transform: uppercase;
}

.product-text div:nth-child(n+3) {
  text-align: center;
  color: #656565;
  font-weight: 400;
}

input {
  border: 1px solid #eaeaea;
  background-color: #ffffff;
  outline: none;
}

input:focus {
  outline: none;
}

.product-settings input {
  height: 30px;
  width: 54px;
  text-align: center;
  box-sizing: border-box;
}

.product-text div:nth-child(2) p {
  text-transform: capitalize;
}

.product-text div:nth-child(2) p:nth-child(1) {
  color: #222222;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 38px;
}

.product-text div:nth-child(2) p:nth-child(2), p:nth-child(3) {
  margin-bottom: 5px;
  color: #575757;
  font-weight: 400;
}

.product-text div:nth-child(2) span {
  color: #6f6e6e;
  font-weight: 300;
}

.product-text div:nth-child(7) i:hover {
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
  cursor: pointer;
}

.product-text div:nth-child(7) i:active {
  box-shadow: none;
}

.shopping-button {
  margin-top: 44px;
  border-bottom: none;
}

.shopping-button button {
  height: 50px;
  width: 235px;
  font-size: 14px;
  font-weight: 700;

}

button {
  text-transform: uppercase;
  border: 1px solid #eaeaea;
  background-color: white;
  color: #4a4a4a;
  transition: all 0.3s;

}

button:focus {
  outline: none;
}

button:hover {
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
  cursor: pointer;
}

button:active {
  box-shadow: none;
}

.shipping {
  margin-left: 230px;
  margin-top: 63px;
  width: 355px;
  height: 268px;
  //background-color: bisque;
  float: left;
}

.coupon {
  width: 355px;
  height: 184px;
  //background-color: chartreuse;
  margin-left: 35px;
  margin-top: 63px;
  float: left;
}

.shipping p:nth-child(1), .coupon p:nth-child(1) {
  color: #222222;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}

.shipping p:nth-child(1) {
  margin-bottom: 22px;
}

.shipping input {
  margin-bottom: 20px;
}

.shipping button {
  width: 100px;
  height: 35px;
  font-size: 11px;
  color: #4a4a4a;
  font-weight: 700;
}

.coupon p:nth-child(1) {
  margin-bottom: 28px;
}

.coupon p:nth-child(2) {
  margin-bottom: 24px;
  color: #000000;
  font-size: 14px;
}

.coupon button {
  margin-top: 25px;
  width: 118px;
  height: 35px;
  font-size: 11px;
  font-weight: 700;
  color: #4a4a4a;
}

.shipping input, .coupon input {
  width: 355px;
  height: 45px;
  border: 1px solid #eaeaea;
  background-color: #ffffff;
  padding-left: 17px;
  box-sizing: border-box;
}

.checkout {
  text-align: right;
  background-color: #f5f3f3;
  width: 360px;
  height: 214px;
  margin-left: 1010px;
  margin-top: 63px;
  padding-right: 41px;
  padding-top: 40px;
  box-sizing: border-box;
}

.checkout:after {
  content: "";
  display: block;
  clear: both;
}

.checkout p:nth-child(1) {
  font-family: Lato;
  font-size: 11px;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 14px;

}

.checkout p:nth-child(1) span {
  margin-left: 20px;
}

.checkout p:nth-child(2) {
  color: #222222;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 22px;
}

.checkout p:nth-child(2) span {
  color: #f16d7f;
  margin-left: 20px;
}

.checkout div {
  width: 275px;
  height: 1px;
  background-color: #e2e2e2;
  margin-bottom: 17px;
  margin-left: 43px;
}

.checkout button {
  width: 273px;
  height: 50px;
  background-color: #f16d7f;
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}

.subscribe {
  margin-top: 133px;
}