$product-url: url(../img/layer-2.jpg)
url(../img/layer-3.jpg)
url(../img/layer-4.jpg)
url(../img/layer-5.jpg)
url(../img/layer-6.jpg)
url(../img/layer-7.jpg)
url(../img/layer-8.jpg)
url(../img/layer-9.jpg);

*, p {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Lato', sans-serif;
  margin: 0 auto;
  height: 100%;
}

a {
  text-decoration: none;
}

.brand-header-1600 {
  display: flex;
  width: 1142px;
  align-items: center;
  margin: auto;
  justify-content: flex-start;
  flex-wrap: nowrap;
  margin-top: 25px;
  padding-bottom: 24px;
  padding-left: 229px;
  padding-right: 229px;
  border-bottom: 1px solid #e8e8e8;;
  margin-bottom: 20px;
}

.brand-header-1600 div:nth-child(2) {
  margin-left: 13px;
}

.brand-header-1600 div:nth-child(2) a {
  color: #222222;
  font-size: 27px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.68px;
}

.brand-header-1600 div:nth-child(2) span {
  color: #f16d7f;
  font-weight: 500;
}

button {
  width: 87px;
  height: 38px;
  border-radius: 3px 0 0 3px;
  border: 1px solid #cdcdcc;
  background-color: #e6e6e6;
  text-transform: capitalize;
  color: #a4a4a4;
  background-image: linear-gradient(to bottom, #f9f9f9 0%, #f5f5f5 100%);

}

button:hover {
  cursor: pointer;
  color: black;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
}

button:active {
  box-shadow: none;
  outline: none;
}

button:focus {
  outline: none;
}

.brand-header-1600 div:nth-child(3) {
  margin-left: 37px;
}

.brand-header-1600 div:nth-child(3) form {
  width: 403px;
}

.brand-header-1600 div:nth-child(3) form input {
  margin-left: -4px;
  height: 34px;
  padding-left: 15px;
  width: 277px - 15px;
}

.brand-header-1600 div:nth-child(3) form button:nth-child(3) {
  margin-left: -5px;
  width: 30px;
}

.brand-header-1600 div:nth-child(4) {
  margin-left: 349px;
  height: 32px;
}

.brand-header-1600 div:nth-child(5) {
  margin-left: 26px;
}

.brand-header-1600 div:nth-child(5) button {
  width: 130px;
  height: 38px;
  background-image: none;
  background-color: #f16d7f;
  color: #ffffff;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0.38px;
}

header nav {
  //text-transform: uppercase;
  display: flex;
  width: 680px;
  justify-content: space-between;
  margin: auto;
  margin-bottom: 20px;
  flex-direction: row;
  padding: 0px (1600px - 680px)/2 ;

}

header nav a {
  color: #222222;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}

.slider-1600 {
  background-image: url("../img/Layer-24.png");
  height: 655px;
  width: 1600px;
  overflow: hidden;
  margin: auto;
}

.thebrandtext {
  height: 92px;
  padding-left: 12px;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 40px;
  color: #222222;
  border-left: 12px solid #f16d7f;
  margin-left: 230px;
  margin-top: 234px;

}

.thebrandtext p:first-child {
  font-size: 60px;
  letter-spacing: 1.5px;
  line-height: 45px;
}

.thebrandtext p:nth-child(2) {
  font-size: 40px;
  letter-spacing: 1.0px;
  line-height: 60px;
}

.thebrandtext p:nth-child(2) span {
  color: #f16d7f;
}

.category-1600 {
  width: 1140px;
  height: 830px;
  margin: 100px auto;
  flex-wrap: wrap;
  display: flex;
  flex-direction: column;
  align-content: space-between;
}

.layer30-1600 {
  margin-bottom: 20px;
  background-image: url("../img/layer-30.png");
  width: 560px;
  height: 542px;
}


.layer37-1600 {
  background-image: url("../img/2-layers.png");
  width: 560px;
  height: 261px;
}

.layer32-1600 {
  margin-bottom: 20px;
  width: 560px;
  height: 261px;
  background-image: url("../img/layer-32.png");
}

.layer31-1600 {
  background-image: url("../img/layer-31.png");
  width: 560px;
  height: 542px;
}

.layer-1600-text {
  background-color: #ffffff;
  display: inline-block;
  margin: 16px 0;
  padding: 16px 20px;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  color: #222222;
  height: 50px;
}

.layer-1600-text p:nth-child(1) {
  letter-spacing: 0.45px;
}

.layer-1600-text p:nth-child(2) {
  color: #f16d7f;
  font-size: 30px;
  letter-spacing: 0.75px;
}

.layer30-1600:hover, .layer37-1600:hover, .layer32-1600:hover, .layer31-1600:hover {
  cursor: pointer;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
}

.featureditems {
  height: 108px;
  width: 400px;
  margin: auto;
  text-align: center;
  margin-bottom: 60px;

}

.featureditems p:nth-child(1) {
  color: #222222;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 0.75px;
  line-height: 54px;

}

.featureditems p:nth-child(2) {
  color: #9f9f9f;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.35px;
  line-height: 54px;
}

.product-1600 {
  width: 1142px;
  height: 750px;
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
margin-bottom: 89px;


  //border:  1px solid black;
}

@for $i from 1 through 8 {
  .product-1600>div:nth-child(#{$i}) {
    width: 263px;
    height: 364px;
    //border: 1px solid green;
  }

  .product-1600>div:nth-child(#{$i}):hover {
    cursor: pointer;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
  }
  .product-1600>div:nth-child(#{$i}):active {
    box-shadow: none;
  }

}

@for $i from 1 through 8 {
  .product-1600>div:nth-child(#{$i}) {
    background-image: nth($product-url, $i);
    background-repeat: no-repeat;
  }
}

.product-1600-button {
  width: 212px;
  height: 48px;
  background-color: #f16d7f;
  background-image: none;
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.4px;
  margin: auto;
}

.product-1600-text {
  margin-left: 15px;
  margin-top: 300px;
}

.product-1600-text P {
  text-transform: uppercase;
}

.product-1600-text p:nth-child(1){
  color: #222222;
  font-size: 13px;
  font-weight: 400;
  margin-bottom: 15px;

}

.product-1600-text p:nth-child(2) {
  color: #f16d7f;
  font-size: 16px;
  font-weight: 700;

}













.feature {
  width: 1140px;
  height: 529px;
  margin: 0 auto;
  margin-top: 100px;
  background-color: aqua;
  margin-bottom: 100px;
}

.feature-banner {
  width: 767px;
  height: inherit;
  background-color: aquamarine;
  float: left;
  background-image: url("../img/layer-38.jpg");
  position: relative;
  color: white;
  text-transform: uppercase;
  font-weight: 700;
}

.feature-banner img {
  position: absolute;
}

.feature-banner > div {
  position: absolute;
  top: 146px;
  left: 39px;
}

.feature-box-flex {
  height: inherit;
  width: auto;
  background-color: #222224;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.feature-banner div p:nth-child(1) {
  font-size: 54px;
  letter-spacing: 1.5px;
}

.feature-banner div p:nth-child(1) span {
  color: #f16d7f;
}

.feature-banner div p:nth-child(2) {
  font-size: 32px;
  letter-spacing: 0.9px;
}

.feature-box {
  /*border: 1px solid greenyellow;*/
  height: 33%;
  margin: auto;
  color: #fbfbfb;
  font-weight: 700;
  width: 370px;
}

.feature-box img {
  float: left;
  margin-top: 48px;
  margin-left: 36px;
}

.feature-box p:nth-child(2) {
  font-size: 20px;
  margin-left: 114px;
  margin-top: 50px;

}

.feature-box p:nth-child(3) {
  margin-top: 17px;
  margin-left: 111px;
  font-weight: 300;
  font-size: 14px;
  width: 220px;
  height: 58px;
}

.feature-box-flex .feature-box:nth-child(3) img {
  margin-top: 20px;

}

.feature-box-flex .feature-box:nth-child(3) p:nth-child(2) {
  margin-top: 30px;

}

.subscribe {
  width: 1600px;
  height: 438px;
  /*background-color: #f2f2f2;*/
  background-image: url("../img/fon-subscribe.jpg");
  /*position: relative;*/
  /*opacity: 0.5;*/
  margin: 0 auto;
  z-index: 1;
  margin-bottom: 89px;
}

.subscribe-fon {
  height: inherit;
  width: inherit;
  /*background-color: white;*/
  /*opacity: 0.5;*/
  display: flex;
  justify-content: space-between;
}

.subscribe-fon div:nth-child(2) {
  width: 1px;
  background-color: white;
}

.subscribe-box1 {
  width: 799px;
  height: inherit;
  /*background-color: aqua;*/
}

.subscribe-box1-content {
  width: 497px;
  height: 171px;
  margin-top: 123px;
  margin-left: 230px;
  z-index: 1000;
}

.subscribe-box1-content img {
  float: left;
  margin-right: 28px;
}

.subscribe-box1-content p:nth-child(2) {
  font-size: 16px;
  font-style: italic;
  letter-spacing: 0.4px;
  margin-bottom: 19px;
}

.subscribe-box1-content p:nth-child(3) {
  color: #f16d7f;
  font-size: 16px;
  letter-spacing: 0.4px;
  font-weight: 700;
}

.subscribe-box1-content p:nth-child(4) {
  color: #222224;
  font-size: 12px;
  letter-spacing: 0.4px;
  font-weight: 700;
  margin-left: 112px;
}

.subscribe-box2 {
  width: 799px;
  height: inherit;
  /*background-color: aqua;*/
}

.subscribe-box2 div:nth-child(1) {
  width: 277px;
  text-align: center;
  margin-top: 148px;
  margin-left: 146px;
  color: #222224;
  text-transform: uppercase;
  font-weight: 500;
}

.subscribe-box2 div:nth-child(1) p:nth-child(1) {
  font-size: 24px;
  letter-spacing: 0.6px;
  margin-bottom: 10px;
}

.subscribe-box2 div:nth-child(1) p:nth-child(2) {
  font-size: 14px;
  letter-spacing: 0.35px;
  white-space: nowrap;
}

.subscribe-box2 form:nth-child(2) {
  width: 400px;
  height: 46px;
  margin-left: 92px;
  margin-top: 35px;
}

.subscribe-box2 form:nth-child(2) input:nth-child(1) {
  height: inherit;
  width: 234px;
  border: 0;
  background-color: #e1e1e1;
  border-radius: 23px 0 0 23px;
  padding-left: 28px;
  font-size: 14px;
  letter-spacing: 0.35px;
}

.subscribe-box2 form:nth-child(2) input:nth-child(1):focus {
  outline-style: none;
  box-shadow: inset 0 0 0 1px #f16d7f;

}

.subscribe-box2 form:nth-child(2) input:nth-child(2) {
  height: 46px;
  width: 120px;
  background-color: #f16d7f;
  color: white;
  font-size: 14px;
  letter-spacing: 0.35px;
  border: none;
  border-radius: 0 23px 23px 0;
  font-weight: 600;
}

.subscribe-box2 form:nth-child(2) input:nth-child(2):focus {
  outline-style: none;
}

.subscribe-box2 form:nth-child(2) input:nth-child(2):hover {
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
  cursor: pointer;
}

.subscribe-box2 form:nth-child(2) input:nth-child(2):active {
  box-shadow: none;
}

.footer-brand {
  width: 1600px;
  height: 79px;
  background-color: #e6e6e6;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.footer-brand div:nth-child(1) {
  margin: auto 228px;
  font-size: 16px;
  letter-spacing: 0.4px;
  color: #7a7a7a;;
}

.footer-brand div:nth-child(2) {
  margin: auto 231px;
}

.footer-brand span {
  display: inline-block;
  width: 32px;
  height: 32px;
  background-color: white;
  text-align: center;
  padding-top: 5px;
  box-sizing: border-box;
  margin-left: 8px;
  color: #b2b2b2;
}

.footer-brand span:hover {
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
  cursor: pointer;
  background-color: #f16d7f;
  color: white;
}

.footer-brand span:active {
  box-shadow: none;
}

.footer-main {
  width: 1150px;
  height: 260px;
  /*background-color: cornflowerblue;*/
  margin: 0 auto 89px;
  display: flex;
  justify-content: space-between;
}

.footer-main div:nth-child(1) {
  width: 427px;
  /*background-color: aquamarine;*/
}

.footer-main div:nth-child(2) {
  width: 102px;
  /*background-color: aquamarine;*/
}

.footer-main div:nth-child(3) {
  width: 144px;
  /*background-color: aquamarine;*/
}

.footer-main div:nth-child(4) {
  width: 154px;
  /*background-color: aquamarine;*/
}

.footer-main div ul {
  list-style-type: none;
}

.footer-main div ul li:first-child {
  margin-bottom: 45px;
  text-transform: uppercase;
  color: #f16d7f;
  font-size: 18px;
  font-weight: 700;

}

.footer-main div ul li {
  margin-top: 18px;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.4px;

}

.footer-main div ul li a {
  color: #898989;
  white-space: nowrap;
}

.footer-main div ul li a:hover {
  color: black;
}

.footer-brand-line a {
  float: left;
  margin-right: 13px;
}

.footer-brand-line h2 {
  float: none;
  height: 20px;
  margin-top: 10px;
  margin-bottom: 40px;
  color: #3e3e40;
  font-size: 27px;
  font-weight: 300;
  letter-spacing: 0.68px;
}

.footer-brand-line h2 a {
  color: #3e3e40;
}

.footer-brand-line h2 span {
  color: #f16d7f;
}

.footer-brand-line div:nth-child(3) {
  width: 427px;
  height: 180px;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.35px;
  /*border: 1px solid black;*/
  color: #898989;
  line-height: 24px;
}

.footer-brand-line div:nth-child(3) p {
  margin-top: 30px;
}

.brand-line a:nth-child(1) img {
  transition: all 1s;
}

.brand-line a:nth-child(1) img:hover {
  transform: rotate(360deg);
}
