//@import url("../font/font-awesome/css/font-awesome.min.css");


*, p {
  padding: 0;
  margin: 0;
}

main, html {
  margin: 0 auto;
  height: 100%;
}

body {

  font-family: 'Lato', sans-serif;
}

a {
  text-decoration: none;
}

.container {
  position: relative;
  min-width: 768px;
  max-width: 1600px;
  margin: 0 auto;
  height: 764px;
}

header {
  height: 100px;
  z-index: 100;
  position: absolute;
}

header a {
  text-decoration-line: none;
  color: rgb(34, 34, 34);
}

.brand-line {
  height: 100px;
  width: 1142px;
  display: flex;
  align-items: center;
  margin: 0 auto;
}

.brand-line h2 {
  line-height: 100px;
  text-decoration-line: none;
  font-size: 27px;
  color: rgb(34, 34, 34);
  font-weight: 300;
}

.brand-line h2 span {
  color: red;
  font-weight: 500;
}

.brand-line > a:nth-child(1) {
  margin-right: 13px;
}

.brand-line > a:nth-child(4) {
  margin-left: 349px;
  margin-right: 26px;
  margin-top: 9px;
}

.brand-line form {
  width: 400px;
  height: 40px;
  margin-left: 37px;
  white-space: nowrap;
}

.brand-line input[value="Browse"] {
  height: inherit;
  width: 87px;
  border: 1px solid #e6e6e6;
  outline: none;
  background-color: #cdcdcc;
  background-image: linear-gradient(to bottom, #f9f9f9 0%, #f5f5f5 100%);
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.35px;
  color: #a4a4a4;;
}

.brand-line input[placeholder="Search for item.."] {
  height: inherit;
  width: 270px;
  outline: none;
  border: 1px solid #e6e6e6;
  color: #a4a4a4;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.35px;
  height: 38px;
  padding-left: 15px;
}

.brand-line input[value="Browse"]:hover {
  cursor: pointer;
  color: black;
}

.brand-line form button {
  height: inherit;
  width: 36px;
  background-color: white;
  border: 1px solid #e6e6e6;
  outline: none;
  color: #a4a4a4;
}

.brand-line form button:hover {
  cursor: pointer;
  color: black;
}

.myaccount {
  width: 130px;
  height: 38px;
  background-color: #f16d7f;
  text-align: center;
  color: white;
  letter-spacing: 0.38px;
  font-size: 15px;
  font-weight: 400;
  line-height: 32px;
}

.myaccount i {
  padding-left: 2px;
}

.myaccount:hover {
  cursor: pointer;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
}

.myaccount:active {
  box-shadow: none;
}

.menu-line {
  height: 50px;
  width: 1600px;
  background-color: white;
  text-align: center;
  border-top: 1px solid rgb(236, 236, 236);

}

.menu-line ul li {
  display: inline;
  line-height: 50px;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 13px;
}

.menu-line ul {
  /*height: 50px;*/
  /*vertical-align: middle;*/
}

.menu-line a {
  text-decoration-line: none;
  color: rgb(34, 34, 34);
  padding: 0 10px;

  border-bottom: 3px solid transparent;
  transition: all 1s;
}

.menu-line a:hover {
  color: gray;
  padding-bottom: 15px;
  border-bottom: 3px solid #f16d7f;


}

.slider {
  position: absolute;
  top: 100px;
  z-index: 0;
}

.thebrand {
  position: absolute;
  width: 600px;
  top: 376px;
  left: 230px;
}

.thebrandred {
  height: 92px;
  width: 12px;
  background-color: #f16d7f;
  float: left;
  margin-top: 10px;
  padding-top: 10px;
  margin-right: 19px;
}

.thebrandtext {
  height: 92px;
  text-transform: uppercase;
  /*font-family: "Lato - Black";*/
  font-weight: 800;
  font-size: 40px;
  color: #222222;

}

.thebrandtext p:first-child {
  font-size: 60px;
  letter-spacing: 1.5px;
}

.thebrandtext p:nth-child(2) {
  font-size: 40px;
  letter-spacing: 1.0px;
}

.thebrandtext p:nth-child(2) span {
  color: #f16d7f;
}

.category {
  position: relative;
  /*top: 862px;*/
  height: 823px;
  width: 1141px;
  margin: 100px auto;
}

.layer30 {
  position: absolute;
  width: 560px;
  height: 542px;
  float: left;
  z-index: 1;
}

.layer32 {
  position: absolute;
  width: 560px;
  height: 261px;
  right: 0px;
}

.layer37 {
  position: absolute;
  width: 560px;
  height: 261px;
  background-color: #dadad2;
  bottom: 0px;
}

.layer37 img {
  padding-left: 149px;
}

.layer31 {
  position: absolute;
  width: 560px;
  height: 542px;
  bottom: 0px;
  right: 0px;
}

.layertextstyle {
  position: absolute;
  text-transform: uppercase;
  font-weight: 800;
  z-index: 10;
  background-color: white;
  padding: 16px 20px;
  box-sizing: border-box;
}

.layertextstyle p:nth-child(1) {
  font-size: 18px;
  letter-spacing: 0.45px;
}

.layertextstyle p:nth-child(2) {
  font-size: 30px;
  letter-spacing: 0.75px;
  color: #f16d7f;
}

.layer30text {

  margin-top: 26px;
}

.layer32text {

  margin-top: 26px;
  left: 581px;
}

.layer37text {

  bottom: 145px;
}

.layer31text {

  bottom: 425px;
  left: 581px;
}

.layer30:hover {
  cursor: pointer;
}

.layer32:hover {
  cursor: pointer;
}

.layer37:hover {
  cursor: pointer;
}

.layer31:hover {
  cursor: pointer;
}

.layer30:hover ~ .layer30text {
  box-shadow: 0 10px 8px rgba(0, 0, 0, 0.16);

}

.layer32:hover ~ .layer32text {
  box-shadow: 0 10px 8px rgba(0, 0, 0, 0.16);
}

.layer37:hover ~ .layer37text {
  box-shadow: 0 10px 8px rgba(0, 0, 0, 0.16);
}

.layer31:hover ~ .layer31text {
  box-shadow: 0 10px 8px rgba(0, 0, 0, 0.16);
}

.featureditems {
  height: 108px;
  width: 400px;
  margin: auto;
  text-align: center;
  margin-bottom: 60px;

}

.featureditems p:nth-child(1) {
  color: #222222;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 0.75px;
  line-height: 54px;

}

.featureditems p:nth-child(2) {
  color: #9f9f9f;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.35px;
  line-height: 54px;
}

.product {
  height: 930px;
  width: 1200px;
  margin: 0 auto;
  /*background-color: aqua;*/

}

.product-item-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;
}

.product-item-flex a {
  text-decoration: none;
}

.item-flex {
  /*background-color: aquamarine;*/
  height: 364px;
  width: 263px;
  margin: 16px;

}

.item-flex img {
  position: absolute;
  width: 263px;
  height: 280px;
}

.item-flex:hover {
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
}

.item-flex > div {
  width: 263px;
  height: 280px;
  display: flex;
  /*flex-direction: column;*/
}

.item-flex > div:before {
  content: "Add to cart";
  display: block;
  width: 100px;
  height: 40px;
  border: 2px solid white;
  margin: auto;
  text-align: center;
  line-height: 40px;
  color: white;
}

.item-flex:hover div {
  background-color: black;

}

.item-flex:hover > div > img {
  opacity: 0.3;
}

.item-text-style p {
  padding-left: 14px;
}

.item-text-style p:nth-child(2) {
  height: 11px;
  color: #222222;
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
  padding-top: 20px;
  padding-bottom: 17px;
}

.item-text-style p:nth-child(3) {
  height: 15px;
  color: #f16d7f;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}

.browseproduct {
  width: 215px;
  background-color: #f16d7f;
  margin: 80px auto 0 auto;
  padding: 16px 24px;
  box-sizing: border-box;

}

.browseproduct p {
  color: white;
  text-align: center;
  height: 20px;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.4px;
  /*padding: 18px 24px;*/
}

.browseproduct:hover {
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
  cursor: pointer;
}

.browseproduct:active {
  box-shadow: none;
}

.feature {
  width: 1140px;
  height: 529px;
  margin: 0 auto;
  margin-top: 100px;
  background-color: aqua;
  margin-bottom: 100px;
}

.feature-banner {
  width: 767px;
  height: inherit;
  background-color: aquamarine;
  float: left;
  background-image: url("../img/layer-38.jpg");
  position: relative;
  color: white;
  text-transform: uppercase;
  font-weight: 700;
}

.feature-banner img {
  position: absolute;
}

.feature-banner > div {
  position: absolute;
  top: 146px;
  left: 39px;
}

.feature-box-flex {
  height: inherit;
  width: auto;
  background-color: #222224;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.feature-banner div p:nth-child(1) {
  font-size: 54px;
  letter-spacing: 1.5px;
}

.feature-banner div p:nth-child(1) span {
  color: #f16d7f;
}

.feature-banner div p:nth-child(2) {
  font-size: 32px;
  letter-spacing: 0.9px;
}

.feature-box {
  /*border: 1px solid greenyellow;*/
  height: 33%;
  margin: auto;
  color: #fbfbfb;
  font-weight: 700;
  width: 370px;
}

.feature-box img {
  float: left;
  margin-top: 48px;
  margin-left: 36px;
}

.feature-box p:nth-child(2) {
  font-size: 20px;
  margin-left: 114px;
  margin-top: 50px;

}

.feature-box p:nth-child(3) {
  margin-top: 17px;
  margin-left: 111px;
  font-weight: 300;
  font-size: 14px;
  width: 220px;
  height: 58px;
}

.feature-box-flex .feature-box:nth-child(3) img {
  margin-top: 20px;

}

.feature-box-flex .feature-box:nth-child(3) p:nth-child(2) {
  margin-top: 30px;

}

.subscribe {
  width: 1600px;
  height: 438px;
  /*background-color: #f2f2f2;*/
  background-image: url("../img/fon-subscribe.jpg");
  /*position: relative;*/
  /*opacity: 0.5;*/
  margin: 0 auto;
  z-index: 1;
  margin-bottom: 89px;
}

.subscribe-fon {
  height: inherit;
  width: inherit;
  /*background-color: white;*/
  /*opacity: 0.5;*/
  display: flex;
  justify-content: space-between;
}

.subscribe-fon div:nth-child(2) {
  width: 1px;
  background-color: white;
}

.subscribe-box1 {
  width: 799px;
  height: inherit;
  /*background-color: aqua;*/
}

.subscribe-box1-content {
  width: 497px;
  height: 171px;
  margin-top: 123px;
  margin-left: 230px;
  z-index: 1000;
}

.subscribe-box1-content img {
  float: left;
  margin-right: 28px;
}

.subscribe-box1-content p:nth-child(2) {
  font-size: 16px;
  font-style: italic;
  letter-spacing: 0.4px;
  margin-bottom: 19px;
}

.subscribe-box1-content p:nth-child(3) {
  color: #f16d7f;
  font-size: 16px;
  letter-spacing: 0.4px;
  font-weight: 700;
}

.subscribe-box1-content p:nth-child(4) {
  color: #222224;
  font-size: 12px;
  letter-spacing: 0.4px;
  font-weight: 700;
  margin-left: 112px;
}

.subscribe-box2 {
  width: 799px;
  height: inherit;
  /*background-color: aqua;*/
}

.subscribe-box2 div:nth-child(1) {
  width: 277px;
  text-align: center;
  margin-top: 148px;
  margin-left: 146px;
  color: #222224;
  text-transform: uppercase;
  font-weight: 500;
}

.subscribe-box2 div:nth-child(1) p:nth-child(1) {
  font-size: 24px;
  letter-spacing: 0.6px;
  margin-bottom: 10px;
}

.subscribe-box2 div:nth-child(1) p:nth-child(2) {
  font-size: 14px;
  letter-spacing: 0.35px;
  white-space: nowrap;
}

.subscribe-box2 form:nth-child(2) {
  width: 400px;
  height: 46px;
  margin-left: 92px;
  margin-top: 35px;
}

.subscribe-box2 form:nth-child(2) input:nth-child(1) {
  height: inherit;
  width: 234px;
  border: 0;
  background-color: #e1e1e1;
  border-radius: 23px 0 0 23px;
  padding-left: 28px;
  font-size: 14px;
  letter-spacing: 0.35px;
}

.subscribe-box2 form:nth-child(2) input:nth-child(1):focus {
  outline-style: none;
  box-shadow: inset 0 0 0 1px #f16d7f;

}

.subscribe-box2 form:nth-child(2) input:nth-child(2) {
  height: 46px;
  width: 120px;
  background-color: #f16d7f;
  color: white;
  font-size: 14px;
  letter-spacing: 0.35px;
  border: none;
  border-radius: 0 23px 23px 0;
  font-weight: 600;
}

.subscribe-box2 form:nth-child(2) input:nth-child(2):focus {
  outline-style: none;
}

.subscribe-box2 form:nth-child(2) input:nth-child(2):hover {
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
  cursor: pointer;
}

.subscribe-box2 form:nth-child(2) input:nth-child(2):active {
  box-shadow: none;
}

.footer-brand {
  width: 1600px;
  height: 79px;
  background-color: #e6e6e6;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.footer-brand div:nth-child(1) {
  margin: auto 228px;
  font-size: 16px;
  letter-spacing: 0.4px;
  color: #7a7a7a;;
}

.footer-brand div:nth-child(2) {
  margin: auto 231px;
}

.footer-brand span {
  display: inline-block;
  width: 32px;
  height: 32px;
  background-color: white;
  text-align: center;
  padding-top: 5px;
  box-sizing: border-box;
  margin-left: 8px;
  color: #b2b2b2;
}

.footer-brand span:hover {
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
  cursor: pointer;
  background-color: #f16d7f;
  color: white;
}

.footer-brand span:active {
  box-shadow: none;
}

.footer-main {
  width: 1150px;
  height: 260px;
  /*background-color: cornflowerblue;*/
  margin: 0 auto 89px;
  display: flex;
  justify-content: space-between;
}

.footer-main div:nth-child(1) {
  width: 427px;
  /*background-color: aquamarine;*/
}

.footer-main div:nth-child(2) {
  width: 102px;
  /*background-color: aquamarine;*/
}

.footer-main div:nth-child(3) {
  width: 144px;
  /*background-color: aquamarine;*/
}

.footer-main div:nth-child(4) {
  width: 154px;
  /*background-color: aquamarine;*/
}

.footer-main div ul {
  list-style-type: none;
}

.footer-main div ul li:first-child {
  margin-bottom: 45px;
  text-transform: uppercase;
  color: #f16d7f;
  font-size: 18px;
  font-weight: 700;

}

.footer-main div ul li {
  margin-top: 18px;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.4px;

}

.footer-main div ul li a {
  color: #898989;
  white-space: nowrap;
}

.footer-main div ul li a:hover {
  color: black;
}

.footer-brand-line a {
  float: left;
  margin-right: 13px;
}

.footer-brand-line h2 {
  float: none;
  height: 20px;
  margin-top: 10px;
  margin-bottom: 40px;
  color: #3e3e40;
  font-size: 27px;
  font-weight: 300;
  letter-spacing: 0.68px;
}

.footer-brand-line h2 a {
  color: #3e3e40;
}

.footer-brand-line h2 span {
  color: #f16d7f;
}

.footer-brand-line div:nth-child(3) {
  width: 427px;
  height: 180px;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.35px;
  /*border: 1px solid black;*/
  color: #898989;
  line-height: 24px;
}

.footer-brand-line div:nth-child(3) p {
  margin-top: 30px;
}

.brand-line a:nth-child(1) img {
  transition: all 1s;
}

.brand-line a:nth-child(1) img:hover {
  transform: rotate(360deg);
}
