*, p {
    padding: 0;
    margin: 0;
}

main {
    margin: 0 auto;
}

body {

    font-family: 'Lato', sans-serif;
}

a {
    text-decoration: none;
}

.container {
    position: relative;
    min-width: 768px;
    max-width: 1600px;
    margin: 0 auto;
    height: 764px;
}

header {
    height: 100px;
    z-index: 100;
    position: absolute;
}

header a {
    text-decoration-line: none;
    color: rgb(34, 34, 34);
}

.brand-line {
    height: 100px;
}

.brand-line h2 {
    line-height: 100px;
}

.menu-line {
    height: 50px;
    width: 1600px;
    background-color: white;
    text-align: center;
    border-top: 1px solid rgb(236, 236, 236);

}

.menu-line ul li {
    display: inline;
    line-height: 50px;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0 23px;
}

.menu-line ul {
    /*height: 50px;*/
    /*vertical-align: middle;*/
}

.menu-line a {
    text-decoration-line: none;
    color: rgb(34, 34, 34);
}

.menu-line a:hover {
    color: gray;

}

.brand-line h2 {
    text-decoration-line: none;
    font-size: 27px;
    color: rgb(34, 34, 34);
    font-weight: 400;
    padding-top: 5px;
}

.brand-line h2 span {
    color: red;
    font-weight: 500;
}

.brand-line > a {
    float: left;
    padding-top: 25px;
    padding-left: 227px;
    padding-right: 13px;

}

.slider {
    position: absolute;
    top: 100px;
    z-index: 0;
}

.thebrand {
    position: absolute;
    width: 600px;
    top: 376px;
    left: 230px;
}

.thebrandred {
    height: 92px;
    width: 12px;
    background-color: #f16d7f;
    float: left;
    margin-top: 10px;
    padding-top: 10px;
    margin-right: 19px;
}

.thebrandtext {
    height: 92px;
    text-transform: uppercase;
    /*font-family: "Lato - Black";*/
    font-weight: 800;
    font-size: 40px;
    color: #222222;

}

.thebrandtext p:first-child {
    font-size: 60px;
    letter-spacing: 1.5px;
}

.thebrandtext p:nth-child(2) {
    font-size: 40px;
    letter-spacing: 1.0px;
}

.thebrandtext p:nth-child(2) span {
    color: #f16d7f;
}

.category {
    position: relative;
    /*top: 862px;*/
    height: 823px;
    width: 1141px;
    margin: 100px auto;
}

.layer30 {
    position: absolute;
    width: 560px;
    height: 542px;
    float: left;
    z-index: 1;
}

.layer32 {
    position: absolute;
    width: 560px;
    height: 261px;
    right: 0px;
}

.layer37 {
    position: absolute;
    width: 560px;
    height: 261px;
    background-color: #dadad2;
    bottom: 0px;
}

.layer37 img {
    padding-left: 149px;
}

.layer31 {
    position: absolute;
    width: 560px;
    height: 542px;
    bottom: 0px;
    right: 0px;
}

.layertextstyle {
    position: absolute;
    text-transform: uppercase;
    font-weight: 800;
    z-index: 10;
    background-color: white;
    padding: 16px 20px;
    box-sizing: border-box;
}

.layertextstyle p:nth-child(1) {
    font-size: 18px;
    letter-spacing: 0.45px;
}

.layertextstyle p:nth-child(2) {
    font-size: 30px;
    letter-spacing: 0.75px;
    color: #f16d7f;
}

.layer30text {

    margin-top: 26px;
}

.layer32text {

    margin-top: 26px;
    left: 581px;
}

.layer37text {

    bottom: 145px;
}

.layer31text {

    bottom: 425px;
    left: 581px;
}

.layer30:hover {
    cursor: pointer;
}

.layer32:hover {
    cursor: pointer;
}

.layer37:hover {
    cursor: pointer;
}

.layer31:hover {
    cursor: pointer;
}

.layer30:hover ~ .layer30text {
    box-shadow: 0 10px 8px rgba(0, 0, 0, 0.16);

}

.layer32:hover ~ .layer32text {
    box-shadow: 0 10px 8px rgba(0, 0, 0, 0.16);
}

.layer37:hover ~ .layer37text {
    box-shadow: 0 10px 8px rgba(0, 0, 0, 0.16);
}

.layer31:hover ~ .layer31text {
    box-shadow: 0 10px 8px rgba(0, 0, 0, 0.16);
}

.featureditems {
    height: 108px;
    width: 400px;
    margin: auto;
    text-align: center;
    margin-bottom: 60px;

}

.featureditems p:nth-child(1) {
    color: #222222;
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 0.75px;
    line-height: 54px;

}

.featureditems p:nth-child(2) {
    color: #9f9f9f;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.35px;
    line-height: 54px;
}

.product {
    height: 930px;
    width: 1200px;
    margin: 0 auto;
    /*background-color: aqua;*/

}

.product-item-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
}

.product-item-flex a {
    text-decoration: none;
}

.item-flex {
    /*background-color: aquamarine;*/
    height: 364px;
    width: 263px;
    margin: 16px;
}

.item-flex img {
    position: absolute;
    width: 263px;
    height: 280px;
}

.item-flex:hover {
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
}

.item-flex > div {
    width: 263px;
    height: 280px;
}

.item-flex:hover div {
    background-color: black;
}

.item-flex:hover > div > img {
    opacity: 0.5;
}

.item-text-style p {
    padding-left: 14px;
}

.item-text-style p:nth-child(2) {
    height: 11px;
    color: #222222;
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
    padding-top: 20px;
    padding-bottom: 17px;
}

.item-text-style p:nth-child(3) {
    height: 15px;
    color: #f16d7f;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
}

.browseproduct {
    width: 215px;
    background-color: #f16d7f;
    margin: 80px auto 0 auto;
    padding: 18px 24px;
    box-sizing: border-box;

}

.browseproduct a {
    color: white;
    text-align: center;
    height: 11px;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.4px;
    /*padding: 18px 24px;*/
}

.feature {
    width: 1140px;
    height: 529px;
    margin: 0 auto;
    margin-top: 100px;
    background-color: aqua;
    margin-bottom: 100px;
}

.feature-banner {
    width: 767px;
    height: inherit;
    background-color: aquamarine;
    float: left;
    background-image: url("../img/layer-38.jpg");
    position: relative;
    color: white;
    text-transform: uppercase;
    font-weight: 700;
}

.feature-banner img {
    position: absolute;
}

.feature-banner > div {
    position: absolute;
    top: 146px;
    left: 39px;
}

.feature-box-flex {
    height: inherit;
    width: auto;
    background-color: #222224;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.feature-banner div p:nth-child(1) {
    font-size: 54px;
    letter-spacing: 1.5px;
}

.feature-banner div p:nth-child(1) span {
    color: #f16d7f;
}

.feature-banner div p:nth-child(2) {
    font-size: 32px;
    letter-spacing: 0.9px;
}

.feature-box {
    /*border: 1px solid greenyellow;*/
    height: 33%;
    margin: auto;
    color: #fbfbfb;
    font-weight: 700;
    width: 370px;
}

.feature-box img {
    float: left;
    margin-top: 48px;
    margin-left: 36px;
}

.feature-box p:nth-child(2) {
    font-size: 20px;
    margin-left: 114px;
    margin-top: 50px;

}

.feature-box p:nth-child(3) {
    margin-top: 17px;
    margin-left: 111px;
    font-weight: 300;
    font-size: 14px;
    width: 220px;
    height: 58px;
}

.feature-box-flex .feature-box:nth-child(3) img {
    margin-top: 20px;

}

.feature-box-flex .feature-box:nth-child(3) p:nth-child(2) {
    margin-top: 30px;

}

.subscribe {
    width: 1600px;
    height: 438px;
    /*background-color: #f2f2f2;*/
    background-image: url("../img/layer-41.jpg");
    position: relative;
    margin: 0 auto;
    z-index: 1;
}

.subscribe-fon {
    height: inherit;
    width: inherit;
    background-color: white;
    opacity: 0.5;
    display: flex;
    justify-content: space-between;
}


.subscribe-box {
    width: 798px;
    height: inherit;
    background-color: aqua;
}


